<div class="auth-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Username</label>
      <input type="text" formControlName="username"/>
    </div>

    <div>
      <label>Email</label>
      <input type="email" formControlName="email"/>
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password"/>
    </div>

    <div>
      <label>Role</label>
      <select formControlName="role">
        <option value="customer">Customer</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  <p>
    Already have an account?
    <a routerLink="/auth/login">Login here</a>
  </p>
</div>
